DOWNLOAD_DIR = "DOWNLOAD_DIR"
WORK_DIR = "WORK_DIR"
MEAL_FEE = 6000

SPREADSHEET_ID = "SPREADSHEET_ID"
CREDENTIALS_FILE = "CREDENTIALS_FILE"

EXCLUDED_NAMES_CHECK_OVERTIME="김수현,이상수"
OFFICIAL_DATA_NAMES="윤인자,이종선,홍성민,황미연,강동욱,우미인"
