DOWNLOAD_DIR = "DOWNLOAD_DIR"
WORK_DIR = "WORK_DIR"
MEAL_FEE = 5500

SPREADSHEET_ID = "SPREADSHEET_ID"
CREDENTIALS_FILE = "CREDENTIALS_FILE"

EXCLUDED_NAMES_CHECK_OVERTIME="홍삼순,홍사순"
OFFICIAL_DATA_NAMES="홍길동,홍길순"
